.TipView-wrap-show{
    display: flex;
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    bottom: 75px;
    background-color: black;
    background-color: rgb(0,0,0,.8);
    padding: 7px;
    color: white;
    border-radius: 5px;
}

.TipView-wrap-hide{
    display:none;
}

